@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

div#__next {
  height: 100%;
}

@layer components {
  .section-title {
    @apply text-3xl font-light text-white tracking-wide pt-16 pb-2 relative;
  }
  .section-title::after {
    content: '';
    @apply block w-12 h-0.5 bg-accent mt-3 mx-auto;
  }
}
